<template>
  <header class="header">
    <div class="header__inner">
      <h1 class="header__title">{{head}}</h1>
    </div>
  </header>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class HeaderApp extends Vue {
  @Prop() private head!: string;
}
</script>

<style scoped lang="scss">
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 64px;
  box-shadow: 0 24px 20px -20px rgba(0, 0, 0, 0.1);
  &__inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 500px;
  }
  &__title {
    margin: 0;
  }
}
</style>