<template>
  <main>
    <children />
  </main>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class MainApp extends Vue {
  @Prop() private children!: Vue.Component;
}
</script>

<style scoped lang="scss">
</style>
