<template>
  <div class="app">
    <HeaderApp head="Калькулятор" />
    <MainApp><MainApp/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HelloWorld from "./components/HelloWorld.vue";
import HeaderApp from "./components/HeaderApp.vue";

@Component({
  components: {
    HelloWorld,
    HeaderApp
  }
})
export default class App extends Vue {}
</script>

<style lang="scss">
body{
  margin: 0;
  padding: 0;
  background-color: #f6f7f9;
  color: #151328;
}
.app {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
</style>
